@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "ElMessiri";
  src: url("../assets/El_Messiri/static/ElMessiri-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ElMessiri", sans-serif;
  list-style: none;
}
input {
  outline: none;
}
body {
  overflow-x:hidden;
}
dialog {
  border: none;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}