@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ElMessiri", sans-serif;
  list-style: none;
}
@font-face {
  font-display: swap;
  font-family: "ElMessiri";
  src: url("./assets/El_Messiri/static/ElMessiri-Regular.ttf") format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x:hidden;
}
dialog {
  border: none;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}